* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    background-color: #211951;
}

nav {
    display: inline;
}

.html-link {
    color: #F0F3FF;
    background-color: ;
    text-decoration: none;
    padding: 10px;
}

.css-link {
    color: #F0F3FF;
    background-color: ;
    text-decoration: none;
    padding: 10px
}

.js-link {
    color: #F0F3FF;
    background-color: ;
    text-decoration: none;
    padding: 10px
}    

h1 {
    font-style: bold;
    text-align: center;
    word-spacing: normal;
    vertical-align: middle;
    height: 75px;
    color: #15F5BA;
    background-color: #836FFF;
    text-transform: uppercase;
    position: relative;
    padding-top: 35px;
}

h2 {
    color: #15F5BA;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

table {
    border: whitesmoke;
    border-style: solid;
    border-spacing: 5px;
    align-items: center;
    padding: 0, auto;
}

th,td {
    padding: 7px 10px 10px 10px;
}

th {
    border-color: #7E30E1;
    border-style: solid;
    border-width: 3px;
    font-weight: 800;
}

td {
    border-color: #7E30E1;
    border-style: solid;
    border-width: 1px;
}

.container-1 {
    display: flex;
    flex-direction: column; 
    justify-content: left; 
    align-items: left; 
    position: relative;
}

.container-2 {
    display: flex;
    flex-direction: column; 
    justify-content: right 
    align-items: right; 
    position: relative;
}

.container-3 {
    display: flex;
    flex-direction: column; 
    justify-content: left; 
    align-items: left; 
    position: relative;
}

.container-4 {
    display: flex;
    flex-direction: column; 
    justify-content: left; 
    align-items: left; 
    position: relative;
}    

#html-ref {
    font-weight: 700;
    color: #836FFF;
    background-color: #F0F3FF;
    text-align: center;
    height: 50px;
    padding: 25px 20px;
}

#css-ref {
    font-weight: 700;
    color: #836FFF;
    background-color: #F0F3FF;
    text-align: center;
    height: 50px;
    padding: 25px 20px;
}