* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    background-color: #36485E;
}

h1 {
    font-style: bold;
    text-align: center;
    word-spacing: normal;
    vertical-align: middle;
    height: 100px;
    color: #9EFFA9;
    background-color: #29252C;
    text-transform: uppercase;
    position: relative;
    padding-top: 50px;
}

h2 {
    color: #9EFFA9;
    text-align: center;
}

h3 {
    font-weight: 700;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

table {
    border: whitesmoke;
    border-style: solid;
    border-spacing: 5px;
    align-items: center;
    padding: 0, auto;
}

th,td {
    padding: 7px 10px 10px 10px;
}

th {
    border-color: #9EFFA9;
    border-style: solid;
    border-width: 3px;
    font-weight: 800;
}

td {
    border-color: #9EFFA9;
    border-style: solid;
    border-width: 1px;
}