* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  h1 {
    color: whitesmoke;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/023/852/small/abstract-colorful-geometric-shape-background-modern-color-background-for-your-website-vector.jpg);
    height: 200px;
    margin: 0 auto;
  }

  p, 
  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }